@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
.regular-font {
    font-family: "regular-font", serif;
    font-weight: 400;
    font-style: normal;
  }
  *{
    margin: 0;
  }
  /* shared text */
.disply-flex{
    display: flex;
}
.primary-btn{
    background-color: rgba(255, 144, 14, 1);
    padding: 18px 22px;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    font-size: 1em;
    border: none;
    cursor:pointer;
}
.dark2{
    color: rgba(66, 66, 66, 1);
}



/* navber */
.header{
    background-color: rgba(255, 144, 14, 0.1);
    max-width: 1920px;
    margin: 0 auto;
}
.nav-links{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    padding-right: 30px;
    color: rgba(66, 66, 66, 1);


}
.nav-header{
    justify-content:space-around;
    padding: 30px 0px 100px 0px;
    align-items: center;
    gap: 180px;
}
.brand{
    font-size: 2.6em;
    font-weight: bold;
}
.bannar-img{
    max-width: 1140px;
    padding-top: 20px;
}
.bannar{
    align-items: center;
    text-align: center;
}
.bannar-text h1{
    font-size: 2.7em;
    font-weight: bold;
    margin-bottom: 20px;
}
.bannar-text p{
    color:rgba(114, 114, 114, 1) ;
    margin-bottom: 30px;
}
/* section grp */

.grp{
    max-width: 1140px;
    margin: 50px auto;
}
.grp-img img{
    width: 280px;
    height: 280px;
}
.grp-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.grp-txt{
    font-size: 1.8em;
    color:rgba(114, 114, 114, 1) ;
    padding: 100px 0px 10px  30px;

}
.sp1{
    font-weight: bold;
    color: rgba(19, 19, 19, 1);
}
.sp2{
    font-weight: bold;
    color: rgba(255, 144, 14, 1);
}





/* section */

/* responsive */
/* normal devices */
@media screen and (max-width:576px){
    .nav-header, .nav-links{
        flex-direction: column;
        padding: 20px;
        gap: 10px;
    }
    .bannar-img{
        width: 100%;
    }

.grp{
    flex-direction: column;

}
.grp-img{
    grid-template-columns: repeat(1,1fr);
    margin: 0 auto;
}

}
/* tablet */
@media screen and (min-width:576px) and (max-width:768px) {
    .bannar-img{
        width: 100%;
    }
    .grp{
        flex-direction: column;
    }
    .grp-img{
        grid-template-columns: repeat(2,1fr);
        margin: 0 auto;
    }

    }